<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'hello/site.css' %}"/>
</head>

<body>
<div class="navbar">
    <a href="{% url 'herro_home' %}" class="navbar-item">home</a>
    <a href="{% url 'herro_about' %}" class="navbar-item">about</a>
    <a href="{% url 'herro_contact' %}" class="navbar-item">contact</a>
    <a href="{% url 'herro_log' %}" class="navbar-item">log message</a>
</div>

<div class="body-content">
    {% block content %}{% endblock %}
    <hr/>
    <footer>
        <p>&copy; 2018</p>
    </footer>
</div>
</body>
</html>