{% extends "example/layout.html" %}
{% block title %}Example{% endblock %}
{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <title>Example</title>
    </head>
    <body>
        <h1>文件管理</h1>
        <form action="{% url 'file_manager_create_file' %}" method="get">
            <button type="submit">创建文件</button>
        </form>
        <form action="{% url 'file_manager_download_file' %}" method="get">
            <button type="submit">下载文件</button>
        </form>
        <a href="{% url 'file_manager_upload_file' %}">上传文件</a>
    </body>
</html>
{% endblock %}