{% extends "example/layout.html" %}
{% block title %}Example{% endblock %}
{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <title>Example</title>
    </head>
    <body>

        <h1>Download File</h1>
        {% for file in files %}
        <p>
            <a>{{ file }}</a>
            <a href="{% url 'file_manager_download' filename=file %}">
                <button type="submit">下载文件</button>
            </a>
        </p>
        {% endfor %}

        <h1>Upload File</h1>
        <a href="{% url 'file_manager_upload' %}">上传文件</a>
        
    </body>
</html>
{% endblock %}