<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'example/base.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'example/dark_mode.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'example/nav_sidebar.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'example/dashboard.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'example/responsive.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'example/special.css' %}"/>
</head>
<body class=" dashboard app-example" data-admin-utc-offset="0">
    <div id="container">
        <div>
            <header id="header">
                <div id="branding">
                    <div id="site-name">
                        <strong>
                            <a>
                                云资产管理
                            </a>
                        </strong>
                    </div>
                </div>
                <div id="user-tools">
                    Welcome / 
                    <a href="{% url 'example_home' %}">返回主目录</a> /
                    <a href="/admin">后台管理</a>
                </div>
            </header>
        </div>
        <div>
            <nav aria-label="Breadcrumbs">
                <div class="breadcrumbs">
                    <a href="{% url 'example_home' %}">
                        主目录
                    </a>
                    › 
                    <a href="{% url 'terraform_home' %}">
                        云资产管理
                    </a>
                </div>
            </nav>
            <div class="main" id="main">
                <main id="content-start" class="content" tabindex="-1">
                    <div id="content" class="colMS">
                        <div id="content-main">
                            <div class="app-example module current-app">
                        <table>
                            <caption>
                                <h2 class="section">操作列表</h2>
                            </caption>
                                <tr>
                                    <th scope="row">
                                        <a href="{% url 'terraform_project_list' %}">
                                            项目信息
                                        </a>
                                    </th>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <a href="{% url 'terraform_create_template' %}">
                                            创建模版
                                        </a>
                                    </th>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <a href="{% url 'terraform_project_list' %}">
                                            添加内容
                                        </a>
                                    </th>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <a href="{% url 'terraform_project_list' %}">
                                            检查代码
                                        </a>
                                    </th>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <a href="{% url 'terraform_project_list' %}">
                                            测试代码
                                        </a>
                                    </th>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <a href="{% url 'terraform_project_list' %}">
                                            执行任务
                                        </a>
                                    </th>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <a href="{% url 'terraform_project_list' %}">
                                            导出数据
                                        </a>
                                    </th>
                                </tr>
                        </table>
                    </div>
                    </div>
                </div>
                </main>
            </div>
        </div>
    <div>
</body>
</html>
