<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'example/base.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'example/dark_mode.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'example/nav_sidebar.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'example/dashboard.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'example/responsive.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'example/special.css' %}"/>
</head>
<body>
</body>
</html>
