<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'sysadmin/site.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'sysadmin/animate_min.css' %}"/>
</head>

<body>
<div class="navbar">
    <a href="{% url 'sysadmin_home' %}" class="navbar-item">主目录</a>
    <a href="{% url 'sysadmin_server_assets' %}" class="navbar-item">服务器列表</a>
    {% if user.is_authenticated %}
        <a class="navbar-item logout" href="{% url 'logout' %}">退出登录</a>
    {% else %}
        <a class="navbar-item" href="{% url 'login' %}">登录</a>
    {% endif %}
</div>

<div class="body-content">
    {% block content %}{% endblock %}
    <hr/>
    <footer>
        <p>&copy;2024</p>
    </footer>
</div>
</body>
</html>