<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'sysadmin/site.css' %}"/>
</head>

<body>
<div class="navbar">
    <a href="{% url 'sysadmin_home' %}" class="navbar-item">sysadmin_home</a>
    <a href="{% url 'sysadmin_server_assets' %}" class="navbar-item">sysadmin_server_assets</a>
</div>

<div class="body-content">
    {% block content %}{% endblock %}
    <hr/>
    <footer>
        <p>&copy; 2024</p>
    </footer>
</div>
</body>
</html>